body {
    font-family: 'Poppins', sans-serif;
    background-image: url('images/bg-dessert.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

header, footer {
    background-color: rgba(255, 192, 203, 0.8); /* Light pink background with some transparency */
}

main {
    background-color: rgba(255, 255, 255, 0.9); /* White with a slight transparency */
    padding: 2rem;
    border-radius: 10px;
}

h1 {
    color: #D1495B; /* Darker pink color */
}

h2 {
    color: #E98074; /* Lighter pink */
}

a:hover {
    text-decoration: underline;
}

.footer-links a {
    margin-right: 15px;
}

.social-media a {
    margin-right: 15px;
}

.shadow-md {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
