/* confirmation.css */
body {
    font-family: 'Arial', sans-serif;
}

header {
    border-bottom: 1px solid #e5e7eb;
}

h2 {
    color: #d16b6b;
}

.text-center {
    text-align: center;
}

img {
    transition: transform 0.3s;
}

img:hover {
    transform: scale(1.05);
}
